{% extends 'userbase.html' %}

{% block content %}
<style>

*{
        box-sizing: border-box;
    }
    .table{
        width: 100%;
        border-collapse: collapse;
    }
    .table td,.table th{
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: center;
        font-size: 16px;
    }
    .table th{
        background-color: darkblue;
        color: #fff;
    }
    tr:hover{
        background-color: #f5f5f5;
        transform: scale(1.02);
        box-shadow: 2px 2px 12px rgba(0,0,0,0.2),-1px -1px 8px rgba(0,0,0,0.2);
    }
    .table tr{
        transition: all .2s ease-in;
        cursor: pointer;
    }

</style>

   <!-- Cart Section -->
   <div class = 'container' style = 'margin-top: 50px; width: 70%'>
    <div class="table-responsive">
    <table class="table table-light table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"><h6>Item</h6></th>
            <th scope="col"><h6>Price(₹)</h6></th>
            <th scope="col"><h6>Total(₹)</h6></th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
    
          {% for item in cart %}
          <tr>
            <th scope="row"><div id = "cart_image"><img src = '{{item.product.image.url}}'style="height: 100px;width: 100px;"></div></th>
            <td>{{item.product.product_name}}</td>
            <td>{{item.product.price}}₹</td>
          
            
            <td>{{item.product.price}}₹</td>
            <td><a class="btn btn-danger" href="{% url 'deletecart' item.id %}">Remove</a></td>
          </tr>
         
          {% endfor %}
          
          
          
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}